<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Photo Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar debounce="500" [(ngModel)]='searchText' (ionChange)="filterList()"></ion-searchbar>

  <ion-item *ngFor="let item of filteredItems" [routerLink]="['detail', item.title]">
    <ion-thumbnail slot="start">
      <img src="{{item.photo}}">
    </ion-thumbnail>
    <ion-label>{{ item.title }}</ion-label>
  </ion-item>

</ion-content>
